<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>
        <File name="File" fileName="logs/panelpi.log">
            <PatternLayout pattern="[%p] %d [%t] %c - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console" level="debug"/>
            <AppenderRef ref="File" level="trace"/>
        </Root>
    </Loggers>
</Configuration>