* {
    -fx-focus-traversable: false;
}

.printerStatus.label {
    -fx-label-padding: 2 10 2 10;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-background-color: silver;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.menu-icon {
    -fx-padding: 10 10 10 10;
    -fx-background-color: #f4f4f4;
}

.menu-icon-selected {
    -fx-background-color: #428bca;
}

.menu-icon > .glyph-icon {
    -fx-text-fill: #428bca;
    -fx-fill: #428bca;
    -glyph-size: 35px;
}

.menu-icon-selected > .glyph-icon {
    -fx-text-fill: white;
    -fx-fill: white;
    -glyph-size: 35px;
}

.menu-icon.glyph-icon:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 4, 0, 0, 0);
}

.machine-name {
    -fx-text-fill: silver;
    -fx-font-size: 20;
}

.menu {
    -fx-border-color: silver;
    -fx-border-width: 0 0 1 0;
}

.emergency-button > .glyph-icon {
    -glyph-size: 20px;
    -fx-fill: white;
}

.on-off-button {
    -fx-padding: 10 20 10 20;
}

.on-off-button.success, .extrude-retract.normal, .baby-stepping.left {
    -fx-background-radius: 4 0 0 4;
    -fx-border-radius: 4 0 0 4;
}

.on-off-button.danger, .extrude-retract.primary, .baby-stepping.right {
    -fx-background-radius: 0 4 4 0;
    -fx-border-radius: 0 4 4 0;
}

.small.button, .small > .label {
    -fx-max-height: 10;
    -fx-font-size: 10;
}

.small-pane {
    -fx-padding: 0 0 0 0;
}

.titled-pane > .title {
    -fx-pref-height: 25.0;
}

.extrude-retract {
    -fx-pref-width: 110;
}

.primary > .glyph-icon {
    -fx-text-fill: white;
    -fx-fill: white;
}

.large-icon > .glyph-icon {
    -glyph-size: 30px;
    -fx-fill: white;
}

.small-button.button {
    -fx-padding: 2 2 2 2;
}

.bold.label {
    -fx-font-weight: bolder;
    -fx-text-fill: #428bca;
    -fx-font-size: 15;
}

.red.label {
    -fx-text-fill: red;
}

.green.label {
    -fx-text-fill: green;
}

.blue.label {
    -fx-text-fill: blue;
}

.data-grid Line {
    -fx-stroke: lightgray;
}

.button {
    -fx-padding: 8 15 8 15;
}

.button, .label {
    -fx-font-family: 'sans-serif';
    -fx-font-size: 16;
}

.popupPane {
    -fx-padding: 5 5 5 5;
    -fx-border-color: lightgray;
    -fx-background-color: #f4f4f4;
}

.tree-table-view .column-header > .label {
    -fx-font-size: 13;
    -fx-text-fill: #428bca;
}

.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected {
    -fx-background: #daedf6;
    -fx-table-cell-border-color: #d0e3ec;
}

.slider > .thumb {
    -fx-background-color: #428bca;
}

.console-info.list-cell:filled {
    -fx-background-color: linear-gradient(to bottom, #dfefd8, #c8e1bd);
}

.console-info .label {
    -fx-text-fill: #417540;
    -fx-font-size: 14
}


.console-command.list-cell:filled {
    -fx-background-color: linear-gradient(to bottom, #daecf7, #bbdff0);
}

.console-command .label {
    -fx-text-fill: #35718e;
    -fx-font-size: 14
}

